@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

@font-face {
  font-family: "Agraham";
  src: url("/docs/fonts/Woff/Agraham.woff") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  /* font-family: "Poppins", sans-serif;  */
  font-family: "Catamaran", sans-serif;

}

.font-aghram {
  font-family: "Agraham", serif;
}


img,
button,
iframe,

a {
  user-select: none;
}

.fadeIn {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.myShadow {
  box-shadow: rgba(100, 100, 111, 0.082) 0px 7px 29px 0px;
}

input:user-invalid {
  border: 1.5px solid rgba(255, 0, 0, 0.416);
}

:root {
  --cw-green: #8fc2a7;
  --cw-cream: #fffef8;
  --cw-tag: #ffa90c;
}

body {
  /* background-color: #000; */
  background-image: url("/docs/assets/images/rice-paper-on-black.png");
  background-repeat: repeat;
  background-size: auto;
  color: var(--cw-cream);
}

/* GLightbox: remove gray background + prevent scrollbars + fit image */
.glightbox-container .gslide-media,
.glightbox-container .gslide-image,
.glightbox-container .gslide-image .gslide-description,
.glightbox-container .ginner-container {
  background: transparent !important;
}

.glightbox-container .ginner-container {
  overflow: hidden !important;
}

/* Center the image and make the container hug the image */
.glightbox-container .gslide-image {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* Prevent giant images from creating scrollbars */
.glightbox-container .gslide-image img {
  display: block !important;
  width: auto !important;
  height: auto !important;
  max-width: 92vw !important;
  max-height: 92vh !important;
  object-fit: contain !important;
  background: transparent !important;
}